<app-base-html></app-base-html>

<div class="destination_details_info">
  <div class="container">
      <div class="row justify-content-center">
          <div class="col-lg-8 col-md-9">
              <div class="destination_info">
                  <h1>{{ place.name }}</h1>
                  <div class="single_destination">
                    <img style="max-width: 100%; height: auto;" src="{{ place.img1 }}" alt="">
                  </div>
                  <h3>Description</h3>
                  <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ place.description }}</p>
              </div>
              <div class="bordered_1px"></div>
              <div class="contact_join">
                <h3>Review</h3>
                <form action="#">
                  <div class="row">
                      <div class="col-lg-12">
                          <div class="single_input">
                              <input value="{{this.editRecord['name']}}" [(ngModel)]="reviewer.name" name="name" style="background-color: lightgrey;" type="text" placeholder="Your Name" required>
                          </div>
                      </div>
                      <div class="col-lg-12">
                          <div class="single_input">
                              <textarea value="{{this.editRecord['message']}}" [(ngModel)]="reviewer.message" name="message" style="background-color: lightgrey;" cols="30" rows="10"placeholder="Message" required></textarea>
                          </div>
                      </div>

                      <div class="col-lg-12" *ngIf = "!this.isEdit; else editBlock">
                          <div class="submit_btn">
                              <button class="boxed-btn4" type="submit" [disabled]="reviewer.name == '' || reviewer.message == ''" (click)="submit(place.name)">submit</button>
                          </div>
                      </div>

                    <ng-template #editBlock>
                      <div class="col-lg-12">
                        <div class="submit_btn">
                            <button class="boxed-btn4" type="submit" (click)="submitUpdate()">update</button>
                        </div>
                      </div>
                    </ng-template>
                  </div>
                </form>
                <div class="bordered_1px"></div>
                <div>
                  <h3>Comment</h3>
                  <div *ngFor="let item of show_comment" >
                    <span>
                      <label><img src="https://openclipart.org/download/247319/abstract-user-flat-3.svg" alt="Avatar" class="avatar"></label>
                      <label><h4 style="padding-left: 10px;">{{ item.name }}</h4></label>
                      <!-- <span>{{ item.name }}</span> -->
                    </span>
                    <h4>{{ item.message }}</h4>
                    <span>
                      <label><p (click)="editdata(item)">แก้ไข</p></label>
                      <label><p (click)="deleteComment(item.name)" style="padding-left: 15px; color: red;">ลบ</p></label>
                    </span>
                    <div class="bordered_1px"></div>
                  </div>
                </div>
              </div>
          </div>
      </div>
  </div>
</div>

<app-footer></app-footer>
