<app-base-html></app-base-html>

<div class="popular_places_area">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-6">
        <div class="section_title text-center mb_70">
          <h3>สถานที่ท่องเที่ยวในจังหวัด{{ province }}</h3>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-md-6" *ngFor="let item of place; let i = index;">
        <a (click)="gotoDescription(province, item.name)">
          <div class="single_place">
            <div class="thumb">
              <img src="{{item.img1}}" alt="">
            </div>
            <div class="place_info">
              <a href="destination_details.html">
                <h3>{{item.name}}</h3>
              </a>
              <p>{{item.province}}</p>
              <div class="rating_days d-flex justify-content-between">
                <span class="d-flex justify-content-center align-items-center">
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <a href="#">(20 Review)</a>
                </span>
                <div class="days">
                  <i class="fa fa-clock-o"></i>
                  <a href="#">5 Days</a>
                </div>
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>
